<component name="ProjectDictionaryState">
  <dictionary name="springfan">
    <words>
      <w>calcer</w>
      <w>calcs</w>
      <w>cncpt</w>
      <w>cnds</w>
      <w>dbgc</w>
      <w>delist</w>
      <w>disp</w>
      <w>dktp</w>
      <w>dnum</w>
      <w>dpct</w>
      <w>dscb</w>
      <w>dtype</w>
      <w>dval</w>
      <w>dymc</w>
      <w>emaqs</w>
      <w>enname</w>
      <w>fltr</w>
      <w>hsgt</w>
      <w>idts</w>
      <w>iloc</w>
      <w>iterrows</w>
      <w>jdxz</w>
      <w>jdxzqs</w>
      <w>logable</w>
      <w>macd</w>
      <w>madq</w>
      <w>majh</w>
      <w>maqs</w>
      <w>moneyflow</w>
      <w>nrows</w>
      <w>pretrade</w>
      <w>rslt</w>
      <w>sgmt</w>
      <w>shzb</w>
      <w>stype</w>
      <w>subsw</w>
      <w>szse</w>
      <w>szzb</w>
      <w>trsfed</w>
      <w>tushare</w>
      <w>uptodate</w>
      <w>valign</w>
      <w>vcenter</w>
      <w>weakref</w>
      <w>xlsx</w>
      <w>xlsxwrite</w>
      <w>xmind</w>
      <w>xticks</w>
      <w>xvalues</w>
      <w>xxxx</w>
      <w>xzqs</w>
      <w>ylabel</w>
      <w>yvalues</w>
      <w>yyyymmdd</w>
    </words>
  </dictionary>
</component>