<component name="ProjectDictionaryState">
  <dictionary name="springfan">
    <words>
      <w>calcer</w>
      <w>dtype</w>
      <w>idts</w>
      <w>macd</w>
      <w>nrows</w>
      <w>rslt</w>
      <w>shzb</w>
      <w>stype</w>
      <w>szse</w>
      <w>szzb</w>
      <w>tushare</w>
      <w>uptodate</w>
    </words>
  </dictionary>
</component>