<component name="ProjectDictionaryState">
  <dictionary name="springfan">
    <words>
      <w>calcer</w>
      <w>cnds</w>
      <w>disp</w>
      <w>dscb</w>
      <w>dtype</w>
      <w>dymc</w>
      <w>emaqs</w>
      <w>fltr</w>
      <w>idts</w>
      <w>iloc</w>
      <w>iterrows</w>
      <w>macd</w>
      <w>madq</w>
      <w>majh</w>
      <w>maqs</w>
      <w>nrows</w>
      <w>pretrade</w>
      <w>rslt</w>
      <w>sgmt</w>
      <w>shzb</w>
      <w>stype</w>
      <w>szse</w>
      <w>szzb</w>
      <w>trsfed</w>
      <w>tushare</w>
      <w>uptodate</w>
      <w>weakref</w>
      <w>xticks</w>
      <w>xvalues</w>
      <w>xxxx</w>
      <w>ylabel</w>
      <w>yvalues</w>
      <w>yyyymmdd</w>
    </words>
  </dictionary>
</component>